.myPosts {
    padding: 5px;
}

.posts textarea {
    width: 500px;
    height: 10%;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.inputWrapper {
    display: flex;
}

.inputWrapper button {
    width: 100px;
    height: 25px;
    cursor: pointer;
}