.saveBtn {
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 0 10px 0px 10px;
    cursor: pointer;
    background: rgba(209, 161, 255, 0.3);
    margin: 5px 0 10px 0;
}

.saveBtn:hover {
    background-color: rgba(167, 84, 255, 0.3);
    transition: .5s;
}

.itemAboutMe input {
    margin-top: 5px;
    width: 300px;
    height: 20px;
    padding: 2px 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    border-radius: 5px;
    border-bottom: 2px solid rgba(209, 161, 255, 0.3);
}

.itemAboutMe input:focus {
    transition: .3s;
    border-bottom: 2px solid rgba(190, 127, 250, 0.3);
}

.itemContact {
    margin-top: 5px;
}

.itemContact input {
    margin-top: 5px;
    width: 300px;
    height: 20px;
    padding: 2px 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    border-radius: 5px;
    border-bottom: 2px solid rgba(209, 161, 255, 0.3);
}

.itemContact input:focus {
    transition: .3s;
    border-bottom: 2px solid rgba(190, 127, 250, 0.3);
}

.itemAboutMe textarea {
    margin-top: 5px;
    width: 300px;
    height: 50px;
    resize: none;
    padding: 2px 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    border-radius: 5px;
    border-bottom: 2px solid rgba(209, 161, 255, 0.3);
}