.saveBtn {
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 0 10px 0px 10px;
    cursor: pointer;
    background: rgba(209, 161, 255, 0.3);
    margin-top: 10px
}

.saveBtn:hover {
    background-color: rgba(167, 84, 255, 0.3);
    transition: .5s;
}

.itemAboutMe {

}