.selectedPage {
    font-weight: bold;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    display: inline;
}

.numberPage {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    display: inline;
}