.pagination {
    text-align: center;
    margin-bottom: 5px;
}

.selectedPage {
    display: inline-block;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-color: rgba(209, 161, 255, 0.3);
    border-radius: 0 10px 0 10px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    background: rgba(190, 127, 250, 0.3);
}

.numberPage:hover {
    background: rgba(190, 127, 250, 0.3);
    transition: .5s;
}

.numberPage {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-color: rgba(190, 127, 250, 0.3);;
    border-radius: 0 10px 0 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.prevBtn {
    width: 45px;
    height: 30px;
    margin-right: 2px;
    background: none;
    border: none;
    background: rgba(209, 161, 255, 0.3);
    border-radius: 0 10px 0 10px;
    cursor: pointer;
}

.prevBtn:hover {
    background: rgba(190, 127, 250, 0.3);
    transition: .5s;
}

.nextBtn {
    width: 45px;
    height: 30px;
    margin-left: 2px;
    background: none;
    background: rgba(209, 161, 255, 0.3);
    border: none;
    border-radius: 0 10px 0 10px;
    cursor: pointer;
}

.nextBtn:hover {
    background: rgba(190, 127, 250, 0.3);
    transition: .5s;
}