.header {
    grid-area: header;
    /*background-color: yellow;*/
    text-align: center;
    height: 64px;
}

.header .logo_website {
    width: 140px;
}

.loginWrapper {
    float: right;
    display: grid;
    grid-template-areas: 'login img';
    align-items: center;
    justify-content: center;
}

.wrapperAvatar {
}

.imgUserHeader {
    grid-area: img;
    width: 58px;
    margin: auto;
    border-radius: 5px;

}

.loginUserHeader {
    grid-area: login;
    margin-right: 5px;
}

.logout {
    background: none;
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.logout:hover {
    color: #524800;
}