.nav {
    grid-area: nav;
    text-align: center;
    background-color: rgba(236, 216, 255, 0.3);

}
.item {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 0px 10px 0px 10px;
}

.item:hover {
    background-color: rgba(190, 127, 250, 0.3);
    transition: .2s;
}
.item a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: block;
}

.item a.active {
    color: blueviolet;
    font-size: 22px;
}