.form {
    display: flex;
    text-align: center;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.searchInput {
    width: 400px;
    height: 30px;
    font-size: 16px;
    outline: none;
    border: none;
    background: none;
    /*background-color: rgba(209, 161, 255, 0.3);*/
    border-bottom: 2px solid rgba(209, 161, 255, 0.3);
    transition: border-color .3s;
    padding: 2px 8px;
    border-radius: 5px;
}

.searchInput:focus {
    border-color: rgba(190, 127, 250, 0.3);
}

.btnSearch {
    height:34px;
    margin-left: 5px;
    border: none;
    background: rgba(209, 161, 255, 0.3);
    cursor: pointer;
    border-radius: 0 10px 0 10px;
    font-size: 14px;
}

.btnSearch:hover {
    transition: .5s;
    background: rgba(190, 127, 250, 0.3);
}

.selectFilter {
    height:34px;
    margin-left: 5px;
    border: none;
    background: rgba(209, 161, 255, 0.3);
    cursor: pointer;
    border-radius: 0 10px 0 10px;
    font-size: 14px;
    outline: none;
}

.selectFilter:hover {
    transition: .5s;
    background: rgba(190, 127, 250, 0.3);
}