.form {
    display: flex;
    text-align: center;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.searchInput {
    width: 400px;
    height: 30px;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid transparent;
    transition: border-color .3s;
    background: rgba(255, 210, 103, 0.36);
    padding: 2px 8px;
    border-radius: 5px;
}

.searchInput:focus {
    border-color: rgba(206, 145, 0, 0.36);
}

.btnSearch {
    height:34px;
    margin-left: 5px;
    border: none;
    background: rgba(255, 210, 103, 0.36);
    cursor: pointer;
    border-radius: 0px 10px 0px 10px;
    font-size: 14px;
}

.btnSearch:hover {
    transition: .5s;
    background: rgba(206, 145, 0, 0.36);
}

.selectFilter {
    height:34px;
    margin-left: 5px;
    border: none;
    background: rgba(255, 210, 103, 0.36);
    cursor: pointer;
    border-radius: 0px 10px 0px 10px;
    font-size: 14px;
    outline: none;
}

.selectFilter:hover {
    transition: .5s;
    background: rgba(206, 145, 0, 0.36);
}