.message {
    grid-area: message;
}

.messagesWindow {
    height: 100%;
}

.message_item {
    margin: 10px;
}

.blockSendMessage {
    display: flex;
    align-items: flex-end;
    height: 80%;
    margin-bottom: 10px;
}

.blockSendMessage textarea {
    width: 50%;
    height: 44px;
    margin-bottom: 10px;

}

.blockSendMessage button {
    margin-left: 3px;
    cursor: pointer;
    width: 60px;
    height: 50px;
    margin-bottom: 10px;

}