.wrapperInfo {
    display: grid;
    grid-template-areas: 'avatar name';
    grid-template-columns: 1fr 5fr;
    margin-top: 5px;
    background-color: rgba(236, 216, 255, 0.3);
    border-radius: 5px;

}

.wrapperAvatar {
    width: 200px;
    height: 200px;
    grid-area: avatar;
    margin: 10px;
}

.name {
    font-size: 20px;
    margin-bottom: 10px;
}

.wrapperAboutMe {
    grid-area: name;
    margin: 10px;
    font-size: 17px;
}

.changeAvatarBtn {
    margin-top: 5px;
}

.user_shapka {
    width: 1000px;
    height: 250px;
}

.user_avatar {
    width: 200px;
    height: 180px;
    border-radius: 5%;
}

.status {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
}

.inputStatus {
    width: 400px;
    height: 20px;
    font-size: 16px;
    padding: 2px 5px;
}

.changeAvatarBtn {
    width: 90px;
    margin-left: 50px;
}