.item_post {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid rgb(179, 182, 123);
}

.post_user_avatar {
    width: 70px;
    border-radius: 10px;
}

.post_text {
    text-align: center;
    margin-left: 5px;
    font-size: 20px;
}

.like_post img {
    width: 15px;
    margin-left: 10px;
}