.message_window {
    display: grid;
    grid-template-areas: 'dialog message';
    grid-template-columns: 2fr 10fr;
    height: auto;
}

.dialogs {
    grid-area: dialog;
    margin: 10px;
    border-right: 1px solid black;
}

.messages {
    margin-top: 10px;
}

.userInputBlock {
    display: flex;
}
.userInputBlock textarea {
    width: 50%;
    height: 44px;
    margin-bottom: 10px;
}

.userInputBlock button {
    margin-left: 3px;
    cursor: pointer;
    width: 60px;
    height: 50px;
    margin-bottom: 10px;
}

.wrapperTextarea {
    display: flex;
}

.wrapperTextarea textarea {
    width: 500px;
    height: 10%;
    background: none;
    border: none;
    background: rgba(255, 210, 103, 0.36);
    outline: none;
    resize: none;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    transition: border-color .3s;
}

.wrapperTextarea textarea:focus {
    border-color: rgba(206, 145, 0, 0.36);
}

.wrapperTextarea button {
    height:34px;
    margin-left: 5px;
    border: none;
    background: rgba(255, 210, 103, 0.36);
    cursor: pointer;
    border-radius: 0px 10px 0px 10px;
    font-size: 14px;
}

.wrapperTextarea button:hover {
    transition: .5s;
    background: rgba(206, 145, 0, 0.36);
}