.message_window {
    display: grid;
    grid-template-areas: 'dialog message';
    grid-template-columns: 2fr 10fr;
}

.dialogs {
    grid-area: dialog;
    margin: 10px;
    border-right: 1px solid black;
}